/* @import url("https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Prism&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Tilt+Prism&display=swap");

/* body {
    background: linear-gradient(
        45deg,
        #a1a3ff 25%,
        #cac3ad 50%,
        #31366c09 75%,
        #251a43
    );
} */
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1439' height='542' preserveAspectRatio='none' viewBox='0 0 1439 542'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1053%26quot%3b)' fill='none'%3e%3crect width='1439' height='542' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M56.03 -21.33L120.98 16.17L120.98 91.17L56.03 128.67L-8.92 91.17L-8.92 16.17zM120.98 91.17L185.94 128.67L185.94 203.67L120.98 241.17L56.03 203.67L56.03 128.67zM56.03 428.67L120.98 466.17L120.98 541.17L56.03 578.67L-8.92 541.17L-8.92 466.17zM250.89 91.17L315.85 128.67L315.85 203.67L250.89 241.17L185.94 203.67L185.94 128.67zM315.85 -21.33L380.8 16.17L380.8 91.17L315.85 128.67L250.89 91.17L250.89 16.17zM315.85 203.67L380.8 241.17L380.8 316.17L315.85 353.67L250.89 316.17L250.89 241.17zM380.8 316.17L445.75 353.67L445.75 428.67L380.8 466.17L315.85 428.67L315.85 353.67zM380.8 541.17L445.75 578.67L445.75 653.67L380.8 691.17L315.85 653.67L315.85 578.67zM510.71 316.17L575.66 353.67L575.66 428.67L510.71 466.17L445.75 428.67L445.75 353.67zM445.75 428.67L510.71 466.17L510.71 541.17L445.75 578.67L380.8 541.17L380.8 466.17zM575.66 -21.33L640.61 16.17L640.61 91.17L575.66 128.67L510.71 91.17L510.71 16.17zM640.61 91.17L705.57 128.67L705.57 203.67L640.61 241.17L575.66 203.67L575.66 128.67zM640.61 541.17L705.57 578.67L705.57 653.67L640.61 691.17L575.66 653.67L575.66 578.67zM705.57 -21.33L770.52 16.17L770.52 91.17L705.57 128.67L640.61 91.17L640.61 16.17zM900.43 91.17L965.38 128.67L965.38 203.67L900.43 241.17L835.47 203.67L835.47 128.67zM1030.34 91.17L1095.29 128.67L1095.29 203.67L1030.34 241.17L965.38 203.67L965.38 128.67zM1225.2 -21.33L1290.15 16.17L1290.15 91.17L1225.2 128.67L1160.24 91.17L1160.24 16.17zM1355.11 428.67L1420.06 466.17L1420.06 541.17L1355.11 578.67L1290.15 541.17L1290.15 466.17zM1485.01 -21.33L1549.97 16.17L1549.97 91.17L1485.01 128.67L1420.06 91.17L1420.06 16.17zM1549.97 316.17L1614.92 353.67L1614.92 428.67L1549.97 466.17L1485.01 428.67L1485.01 353.67zM1485.01 428.67L1549.97 466.17L1549.97 541.17L1485.01 578.67L1420.06 541.17L1420.06 466.17z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M48.53 -21.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.48 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.48 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.53 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-16.42 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-16.42 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.44 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.44 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.48 241.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.53 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.53 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.48 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.48 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.53 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-16.42 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-16.42 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.39 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.39 241.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 -21.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.39 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 241.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 316.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 353.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.39 316.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM438.25 353.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM438.25 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM438.25 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM438.25 653.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.3 691.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 653.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.35 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.21 316.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 353.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.21 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.21 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 -21.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.11 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.11 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.21 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.21 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.07 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.07 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.11 241.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.11 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.07 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.07 653.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.11 691.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 653.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.16 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.07 -21.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.02 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.02 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM892.93 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM957.88 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM957.88 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM892.93 241.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM827.97 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM827.97 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1022.84 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1087.79 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1087.79 203.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1022.84 241.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1217.7 -21.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1282.65 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1282.65 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1217.7 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1152.74 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1152.74 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1347.61 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.56 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.56 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1347.61 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1282.65 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1282.65 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.51 -21.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.47 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.47 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.51 128.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.56 91.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.56 16.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.47 316.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1607.42 353.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1607.42 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.47 466.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.51 428.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.51 353.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.47 541.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.51 578.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M54.89 61.06L98.2 86.06L98.2 136.06L54.89 161.06L11.59 136.06L11.59 86.06zM11.59 286.06L54.89 311.06L54.89 361.06L11.59 386.06L-31.71 361.06L-31.71 311.06zM54.89 361.06L98.2 386.06L98.2 436.06L54.89 461.06L11.59 436.06L11.59 386.06zM11.59 436.06L54.89 461.06L54.89 511.06L11.59 536.06L-31.71 511.06L-31.71 461.06zM54.89 511.06L98.2 536.06L98.2 586.06L54.89 611.06L11.59 586.06L11.59 536.06zM98.2 -13.94L141.5 11.06L141.5 61.06L98.2 86.06L54.89 61.06L54.89 11.06zM141.5 211.06L184.8 236.06L184.8 286.06L141.5 311.06L98.2 286.06L98.2 236.06zM98.2 286.06L141.5 311.06L141.5 361.06L98.2 386.06L54.89 361.06L54.89 311.06zM98.2 436.06L141.5 461.06L141.5 511.06L98.2 536.06L54.89 511.06L54.89 461.06zM141.5 511.06L184.8 536.06L184.8 586.06L141.5 611.06L98.2 586.06L98.2 536.06zM184.8 436.06L228.1 461.06L228.1 511.06L184.8 536.06L141.5 511.06L141.5 461.06zM228.1 511.06L271.4 536.06L271.4 586.06L228.1 611.06L184.8 586.06L184.8 536.06zM271.4 -13.94L314.71 11.06L314.71 61.06L271.4 86.06L228.1 61.06L228.1 11.06zM314.71 61.06L358.01 86.06L358.01 136.06L314.71 161.06L271.4 136.06L271.4 86.06zM314.71 211.06L358.01 236.06L358.01 286.06L314.71 311.06L271.4 286.06L271.4 236.06zM271.4 286.06L314.71 311.06L314.71 361.06L271.4 386.06L228.1 361.06L228.1 311.06zM271.4 436.06L314.71 461.06L314.71 511.06L271.4 536.06L228.1 511.06L228.1 461.06zM401.31 61.06L444.62 86.06L444.62 136.06L401.31 161.06L358.01 136.06L358.01 86.06zM358.01 136.06L401.31 161.06L401.31 211.06L358.01 236.06L314.71 211.06L314.71 161.06zM444.62 -13.94L487.92 11.06L487.92 61.06L444.62 86.06L401.31 61.06L401.31 11.06zM487.92 211.06L531.22 236.06L531.22 286.06L487.92 311.06L444.62 286.06L444.62 236.06zM444.62 286.06L487.92 311.06L487.92 361.06L444.62 386.06L401.31 361.06L401.31 311.06zM444.62 436.06L487.92 461.06L487.92 511.06L444.62 536.06L401.31 511.06L401.31 461.06zM487.92 511.06L531.22 536.06L531.22 586.06L487.92 611.06L444.62 586.06L444.62 536.06zM531.22 -13.94L574.52 11.06L574.52 61.06L531.22 86.06L487.92 61.06L487.92 11.06zM531.22 136.06L574.52 161.06L574.52 211.06L531.22 236.06L487.92 211.06L487.92 161.06zM574.52 211.06L617.83 236.06L617.83 286.06L574.52 311.06L531.22 286.06L531.22 236.06zM531.22 436.06L574.52 461.06L574.52 511.06L531.22 536.06L487.92 511.06L487.92 461.06zM617.83 -13.94L661.13 11.06L661.13 61.06L617.83 86.06L574.52 61.06L574.52 11.06zM661.13 211.06L704.43 236.06L704.43 286.06L661.13 311.06L617.83 286.06L617.83 236.06zM617.83 436.06L661.13 461.06L661.13 511.06L617.83 536.06L574.52 511.06L574.52 461.06zM747.73 61.06L791.04 86.06L791.04 136.06L747.73 161.06L704.43 136.06L704.43 86.06zM791.04 -13.94L834.34 11.06L834.34 61.06L791.04 86.06L747.73 61.06L747.73 11.06zM834.34 361.06L877.64 386.06L877.64 436.06L834.34 461.06L791.04 436.06L791.04 386.06zM791.04 436.06L834.34 461.06L834.34 511.06L791.04 536.06L747.73 511.06L747.73 461.06zM877.64 136.06L920.94 161.06L920.94 211.06L877.64 236.06L834.34 211.06L834.34 161.06zM920.94 211.06L964.25 236.06L964.25 286.06L920.94 311.06L877.64 286.06L877.64 236.06zM877.64 286.06L920.94 311.06L920.94 361.06L877.64 386.06L834.34 361.06L834.34 311.06zM877.64 436.06L920.94 461.06L920.94 511.06L877.64 536.06L834.34 511.06L834.34 461.06zM920.94 511.06L964.25 536.06L964.25 586.06L920.94 611.06L877.64 586.06L877.64 536.06zM964.25 -13.94L1007.55 11.06L1007.55 61.06L964.25 86.06L920.94 61.06L920.94 11.06zM964.25 286.06L1007.55 311.06L1007.55 361.06L964.25 386.06L920.94 361.06L920.94 311.06zM1050.85 -13.94L1094.15 11.06L1094.15 61.06L1050.85 86.06L1007.55 61.06L1007.55 11.06zM1094.15 61.06L1137.45 86.06L1137.45 136.06L1094.15 161.06L1050.85 136.06L1050.85 86.06zM1050.85 136.06L1094.15 161.06L1094.15 211.06L1050.85 236.06L1007.55 211.06L1007.55 161.06zM1094.15 211.06L1137.45 236.06L1137.45 286.06L1094.15 311.06L1050.85 286.06L1050.85 236.06zM1094.15 361.06L1137.45 386.06L1137.45 436.06L1094.15 461.06L1050.85 436.06L1050.85 386.06zM1050.85 436.06L1094.15 461.06L1094.15 511.06L1050.85 536.06L1007.55 511.06L1007.55 461.06zM1094.15 511.06L1137.45 536.06L1137.45 586.06L1094.15 611.06L1050.85 586.06L1050.85 536.06zM1137.45 136.06L1180.76 161.06L1180.76 211.06L1137.45 236.06L1094.15 211.06L1094.15 161.06zM1180.76 211.06L1224.06 236.06L1224.06 286.06L1180.76 311.06L1137.45 286.06L1137.45 236.06zM1180.76 511.06L1224.06 536.06L1224.06 586.06L1180.76 611.06L1137.45 586.06L1137.45 536.06zM1224.06 -13.94L1267.36 11.06L1267.36 61.06L1224.06 86.06L1180.76 61.06L1180.76 11.06zM1267.36 61.06L1310.66 86.06L1310.66 136.06L1267.36 161.06L1224.06 136.06L1224.06 86.06zM1224.06 286.06L1267.36 311.06L1267.36 361.06L1224.06 386.06L1180.76 361.06L1180.76 311.06zM1353.97 211.06L1397.27 236.06L1397.27 286.06L1353.97 311.06L1310.66 286.06L1310.66 236.06zM1310.66 286.06L1353.97 311.06L1353.97 361.06L1310.66 386.06L1267.36 361.06L1267.36 311.06zM1353.97 361.06L1397.27 386.06L1397.27 436.06L1353.97 461.06L1310.66 436.06L1310.66 386.06zM1440.57 61.06L1483.88 86.06L1483.88 136.06L1440.57 161.06L1397.27 136.06L1397.27 86.06zM1397.27 136.06L1440.57 161.06L1440.57 211.06L1397.27 236.06L1353.97 211.06L1353.97 161.06z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1053'%3e%3crect width='1439' height='542' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.facebook-pdp {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.top-of-facebook-pdp {
    height: 10rem;
}
h1 {
    font-family: Antom, "sans-serif";
    font-weight: 700;
    font-size: 4rem;
}
.intro-container {
    margin-top: 8rem;
}
.card1 {
    background-color: unset;
}
.dev-langage {
    margin-right: 30px;
}
.card img {
    margin: 5px;
    padding-bottom: 2rem;
    border-radius: 15px;
}
.carousel-inner h5 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: larger;
    font-family: "Anton", sans-serif;
    font-family: "Tilt Prism", cursive;
}
/* .carousel-caption2 {
    text-align: left;
    padding-left: 50px;
}
.carousel-caption3 {
    text-align: left;
} */

.fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}

.fa-star.gold {
    color: #ffdc0f;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.stars {
    /* display: inline-flex; */
    justify-content: center;
    font-size: 1.7rem;
}
@media (max-width: 574px) {
    /* .stars {
        display: none;
    } */
    h1 {
        font-family: Antom, "sans-serif";
        font-weight: 400;
        font-size: 2rem;
    }
    .dev-langage {
        margin-right: 7px;
    }
}
/* @media (max-width: 374px) {
    .stars {
        display: none;
    }
    html {
        display: none;
    }
} */

.stars:hover .fa-star {
    color: #ffdc0f;
}
.stars .fa-star:hover ~ .fa-star {
    color: gray;
}

.caroussel-auto-slide-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.caroussel-auto-slide-button {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.caroussel-auto-slide-container:hover .caroussel-auto-slide-image {
    opacity: 0.3;
}

.caroussel-auto-slide-container:hover .caroussel-auto-slide-button {
    opacity: 1;
}

.caroussel-auto-slide-text {
    background-color: #04aa6d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.legende-tourism-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.fpppezplaega {
    margin-top: 40rem;
}
